*{
    margin: 0 0;
    padding: 0 0;
}
body{
    background-color: #F7F6F4;
}

header{
    width: 100%;
    height: 88px;
}

.headBlock{
    height: inherit;
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.atoa{
    width: 178px;
    height: 22px;

}
a{
    text-decoration: none;
}

.headText{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #333333;
}

.headLinks{
    width: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.loginLinks{
    width: 17.28px;
    height: 21.13px;
}
.loginLinks1{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #333333;
}
.loginBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 88px;

}

.package{
    width: 46px;
    height: 46px;
    background-image: url(../pictures/Ellipse\ 2.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    margin: auto;
    width: 1110px;
    height: 4000px;
    margin-top: 90px;

}

.firstBlock{
    background-color: #F1DDC9;
    height: 505px;
    position: relative;

}
.watchImg{
    position: absolute;
    left: 8px;
    top: 110px;
}
.watchNeighbour{
    position: absolute;
    left: 380px;
    height: 449px;
    width: 529px;
    margin-top: 56px;
}
.kambas{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.02em;
    color: #333333;
}
.line{
    margin-top: 8px;    
}

p.text1{
    margin-top: 24px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #333333;
    height: 66px;
}

.disc{
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #333333;
}

.buttonBlock{
    margin-top: 44px;
    width: 364px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button1{
    background-color: #D84727;
    color: white;
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 62px;
    box-sizing: border-box;
}

.button2{
    width: 140px;
    height: 62px;
    border: 2px solid #D84727;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonBlock2{
    margin-top: 19px;
    margin-left: 564px;
    width: 135px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button3{
    border: 2px solid #D84727;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button4{
   background-color: #D84727;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondBlock{
    width: inherit;
    height: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 211px;
}
.adwise{
    width: 540px;
    height: inherit;
    background-color:  #FFFFFF;
    position: relative;
}
.word1{
    position: absolute;
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */
    letter-spacing: 0.03em;
    color: #333333;
    left: 32px;
    top: 32px;
}
.word2{
    position: absolute;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.03em;
    color: #777777;
    left: 32px;
    top: 72px;
}
.disc1{
    font-family: Taviraj;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #333333;
    position: absolute;
    left: 32px;
    top: 126px;
    border-bottom: 1px solid #333333;
}
.img7{
    position: absolute;
    top:119px;
    left:202px;
}
.img8{
    position: absolute;
    left: 364px;
    top: 102px;
}
.deal{
    font-family: Taviraj;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: 0.02em;
    color: #333333;
    position: absolute;
    border-bottom: 1px solid #000000;

}
.thirdBlock{
    width: inherit;
    height: 560px;
    position: relative;
    margin-top: 92px;
}
.itemBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 412px;
    top:108px ;
    width: inherit;
}
.item{
    height: 381px;
    width: 255px;
    background-color:  #FFFFFF;
    position: relative;
}
.itemPic{
    position: absolute;
    margin-left: 20px;
    margin-right: 14px;
    bottom: 200px;
}
.descItm{
    width: 141px;
    height: 56px;
    background-color: inherit;
    position: absolute;
    top: 213px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}
h5{
    font-family: Taviraj;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    color: #333333;
    font-weight: 500;
    font-style: normal;
}
.itemDesc1{
    width: 141px;
    height: 32px;
}
.itemDesc2{
    width: 193px;
    height: 32px;
}
.itemDesc3{
    width: 193px;
    height: 32px;
}
.itemDesc4{
    width: 207px;
    height:64px ;
}

.discount{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #777777;
}
.rpPast{    
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #777777;
}
.rpPresent{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    color: #333333;
    width: 146px;
    height: 32px;
}


.fourthBlock{
    width: inherit;
    height: 505px;
    position: relative;
    margin-top: 110px;
}
.news{
    font-family: Taviraj;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: 0.02em;
    color: #333333;
    border-bottom: 1px solid #000000;
}
.newsDesc{
    width: inherit;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
}
.whrtoTrav1{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */
    letter-spacing: 0.02em;
    color: #777777;
}
.whrtoTrav2{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */
    letter-spacing: 0.02em;
    color: #333333;
}
.button5{
    border:2px solid #D84727;
    width: 160px;
    height: 58px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsImg1{
    position: absolute;
    left: 407px;
    top: 162px;
    z-index: 100;
}
.newsImg2{
    left: 635px;
    top:50px; 
    position: absolute;
    background-color: #F1DDC9;
    width: 640px;
    height: 458px;
}
.fifthBlock{
    width: 1105px;
    height: 678px;
    margin-top: 350px;
}
.wordsList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: inherit;
    margin: auto;
}
.wordss{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: 0.02em;
    color: #333333;
    border-bottom:1px solid  black;
}

.catalog{
    width: inherit;
    height: 578px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.watches{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 131px;
    width: 345px;
}
.watchIMG{
    height: 131px;
    width: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1DDC9;
}
.watchDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.descr{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    letter-spacing: 0.02em;
    color: #333333;
}
.watchPrise{
    font-family: Taviraj;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    letter-spacing: 0.02em;
    color: #222222;
}

.sixthBlock{
    width: inherit;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button5{
    width:272px;
    height: 66px;
    background-color: inherit;
    border: 1px solid #D84727;
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.03em;
  }
a.seeMR{
    color: #D84727;
}
.liine{
    width: 391px;
    height: 0px;
    border: 0.3px solid #999999;    
}
.seventhBlock{
    width: inherit;
    height: 533px;
    position: relative;
    margin-top: 120px;
}

.testimonImg{
    position: absolute; 
    left: 0;
    top: 67px;
    z-index: 2;   
}
div.testimonImg{
    background-color: #F1DDC9;
    position: absolute;
    left: -190px;
    height: 300px;
    width: 515px;
    top: -2px;
}
.testimonDesc{
    height: 322px;
    position: absolute;   
    left: 615px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.recense{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    letter-spacing: 0.03em;
    color: #333333;
}
.Influencer{
    font-family: Taviraj;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    letter-spacing: 0.03em;
    color: #777777;
}
h1{
    border-bottom: 1px solid #000000;
}
.arrowBox{
    width: 117px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 430px;
    position: absolute;
}
footer{
    width: 100%;
    background-color: #D84727;
    height: 700px;
    margin-top: 100px;    
}
.iconBox{
    width: 900px;
    height: 210px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}
.contactBox{
    width: 1110px;
    height: 301px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:auto;
    margin-top: 74px;
}
.contact1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 301px;
}
.contact1 h2{
    font-family: Taviraj;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.places{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #FFFFFF;    
}
.days{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.contact2{
    height: 241px;
    width: 255px;
    display: grid;
    grid-template-columns: 1fr;
}
.contact2 h1{
    color: white;

    border: none;
    font-family: Taviraj;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.numAdres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 162px;
    width: 97px;
}
.numAdres h3{    
    font-family: Taviraj;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    letter-spacing: 0.02em;
    color: #FFFFFF
}
.numbers{
    width: 122px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.numbers span{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.cont2Box{
    width: 252px;
    height: 159px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.networksPic{
    width: 203px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 241px;
    width: 185px;
}
.contact3 h1{
    color: white;
    border: none;
    border: none;
    font-family: Taviraj;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #FFFFFF;

}
.linkBox{
    width: 185px;
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.linkBox a{
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact4{
    width:167px ;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.contact4 h1{
    border: none;
    font-family: Taviraj;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.campaignBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 167px;
    width: 224px;
}
.campaignBox a{
    color: white;
    font-family: Taviraj;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
@font-face{
    font-family: "Taviraj";
    src: url(/home/nikita/Project1/Front/fonts/Taviraj-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
